/* app global css */
/* Disable the padding bottom of q-img */
.q-img > div[style] {
    padding-bottom: 0 !important;
}

:root,
* {
    /* Primary section */
    --primary: #53bf94;
    --primary-700-opacity-12: #e5f3ef;

    /* Secondary section */
    --secondary-100: #ffa086;
    --secondary-500: #ef633d;
    --secondary-900: #c04827;

    /* Tertiary section */
    --tertiary-500: #ffbb51;

    /* Dark color section */
    --dark: #120e36;
    --dark-500: #78847e;
    --dark-900: #1a1c22;

    /* Light color section */
    --light-100: #f9fafc;
    --light-300: #eeeeee;
    --light-500: #dddddd;
}

.font-arial {
    font-family: Arial, sans-serif !important;
}

/* Background color section */
.bg-light {
    background-color: white !important;
}

.bg-light-100 {
    background-color: var(--light-100) !important;
}

.bg-light-300 {
    background-color: var(--light-300) !important;
}

.bg-light-500 {
    background-color: var(--light-500) !important;
}

/* Primary section */
.bg-primary {
    background-color: var(--primary) !important;
}

.bg-primary-700 {
    background-color: var(--primary-700-opacity-12) !important;
}

/* Secondary section */
.bg-secondary-100 {
    background-color: var(--secondary-100) !important;
}

.bg-secondary-500 {
    background-color: var(--secondary-500) !important;
}

/* Tertiary section */
.bg-tertiary-500 {
    background-color: var(--tertiary-500) !important;
}

/* Dark section */
.bg-dark {
    background-color: var(--dark) !important;
}

.bg-dark-500 {
    background-color: var(--dark-500) !important;
}

.bg-dark-900 {
    background-color: var(--dark-900) !important;
}

.bg-dark-blur {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.bg-dark-blur-medium {
    background-color: rgba(0, 0, 0, 0.64) !important;
}

.bg-dark-blur-deep {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

/* Text color section */
.text-light {
    color: var(--light-100) !important;
}

.text-dark {
    color: var(--dark) !important;
}

.text-dark-500 {
    color: var(--dark-500) !important;
}

.text-dark-900 {
    color: var(--dark-900) !important;
}

.text-primary,
.primary {
    color: var(--primary) !important;
}

.text-primary-700,
.primary-700 {
    color: var(--primary-700-opacity-12) !important;
}

/* Secondary section */
.text-secondary-900 {
    color: var(--secondary-900) !important;
}

.text-secondary-500 {
    color: var(--secondary-500) !important;
}

/* Tertiary section */
.text-tertiary-500 {
    color: var(--tertiary-500) !important;
}

.underline-primary {
    text-decoration-line: underline !important;
    text-decoration-thickness: 3.2px;
    text-decoration-color: var(--primary) !important;
}

.underline-none {
    text-decoration: none;
}

.underline-none:hover {
    opacity: 0.8;
}

.text-decoration-none {
    text-decoration: none !important;
    text-transform: none !important;
}

.text-decoration-none:hover {
    background-color: var(--light-100) !important;
}
